<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8" />
    <title>Главная страница</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='main_page.css') }}">
</head>
<body>
    <header class="header">
        <!-- Ссылка для входа работников -->
        <a href="{{ url_for('auth_for_workers') }}" class="btn-profile" id="worker-profile-btn">
            Вход для работников приюта
        </a>
    </header>

    <main>
        <section class="search-section">
            <!-- Оборачиваем в форму для отправки параметра запроса -->
            <form id="searchForm" action="{{ url_for('search_for_clients') }}" method="GET">
                <label for="shelter-address" class="search-label">Введите адрес приюта</label>
                <input
                    type="text"
                    id="shelter-address"
                    name="query"
                    class="search-input"
                    placeholder="Проектируемый пр. № 5112, 1-3, Москва"
                />
                <button type="submit" class="btn-search" id="search-shelter-btn">Найти</button>
            </form>
        </section>
    </main>
</body>
</html>
